[user]
	name = you
	email = YourName@email.com
[push]
	default = simple
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	unstage = reset HEAD
	last = log -1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
