[user]
	name = you
	email = YourName@email.com
[credential]
[push]
	default = simple
[color]
	ui = true
	preloadindex = true
	fscache = true
[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	unstage = reset HEAD
	last = log -1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[gc]
	auto = 256
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
